/*
File: Theological German Vocab Tester stylesheet
Author: David Sarkies
Initial: 4 May 2023
Update: 11 May 2023
Version: 1.2
*/

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#frameContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

#myFrame {
  width: 100%;
  height: 250px;
}

#iframeContent {
  background-color: white;
  border: 1px solid black;
}

/*
4 May 2023 - Initial File
11 May 2023 - Removed the code styling the dropdown box
*/