/*
File: Theological German Vocab Tester stylesheet
Author: David Sarkies
Initial: 19 March 2023
Update: 13 May 2023
Version: 1.4
*/
.screen_button {
  display: inline-block;
  width: 50%;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  
  float:left;
}

.main_screen {
  border: 2px solid #333;
  border-top: none;
  padding:10px;

}

#button_on {
	cursor: pointer;
}

#button_off {
	border-bottom: none;
}
/*
19 March 2023 - Initial File Creation
11 April 2023 - Added CSS for the iFrame display
25 April 2023 - Adjusted the frame height and changed the name
4 May 2023 - Moved overlay to separate file
13 May 2023 - Added style for the main screen borders
*/