<!--
File: Theological German Vocabulary Tester
Author: David Sarkies
Initial: 18 January 2023
Update: 19 March 2023
Version: 1.1
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Theological German Vocabulary Tester</title>
    	<meta name="viewport" content="initial-scale=1.0">
    	<meta name="robots" content="noindex">
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        <!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'stylesheet.css')}}">-->        
    </head>
    <body>
    	<H1 style="text-align: center;">Theological German Vocabulary Tester</H1>
        <h3 style="text-align: center; margin-top: 10px;">Score <span id="score">0</span>/30</h3>
        <input id="eng" type=hidden value="">
    	<label id="ger"></label> <input type="text" id="input">
    	<button id="buttEl" onclick="checkAnswer()">Check</button>
        <div id="giveAnswer"></div>
        <div id="reloadButton"></div>
    </body>
    <script>{% include 'template.js' %}</script>
    <script src="{{ url_for('static', filename = 'script.js')}}"></script>
</html>

<!--
18 January 2023 - Created File
21 January 2023 - Moved script into seperate file
19 March 2023 - Added external .css stylesheet
-->