<!--
File: Theological German Vocabulary Tester
Author: David Sarkies
Initial: 22 January 2023
Update: 22 January 2023
Version: 0.1
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Theological German Vocabulary Tester</title>
    	<meta name="viewport" content="initial-scale=1.0">
    	<meta name="robots" content="noindex">
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    </head>
    <body>
    	<H1 style="text-align: center;">Theological German Vocabulary Tester</H1>
        <input id="eng" type=hidden value="{{english}}">
    	{{german}} <input type="text" id="input">
    	<button id="buttEl" onclick="checkAnswer()">Check</button>
        <div id="reloadButton"></div>
    </body>
    <script src="{{ url_for('static', filename = 'script.js')}}"></script>
</html>

<!--
18 January 2023 - Created File
21 January 2023 - Moved script into seperate file
-->