<!--
File: Theological German Vocabulary Tester Match Page
Author: David Sarkies
Initial: 25 April 2023
Update: 13 May 2023
Version: 1.5
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Theological German Vocabulary Tester</title>
    	<meta name="viewport" content="initial-scale=1.0">
    	<meta name="robots" content="noindex">
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'stylesheet.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'match.css')}}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'overlay.css')}}">
    </head>
    <body>
    	<H1 style="text-align: center;">Theological German Vocabulary Tester</H1>
        <div>
            <button class="screen_button" id="button_on" onclick="window.location.href='/'">
                Guess Words
            </button>
            <button class="screen_button" id="button_off" disabled>Match Words</button>
        </div>
        <div class="main_screen">
            <h3 style="text-align: center; margin-top: 10px;">Score <span id="score">0</span>/10</h3>
            <div id="button-container"></div>
            <div id="overlay">
                <div id="frameContainer">
                    <iframe id="myFrame"></iframe>
                </div>
            </div>
        </div>        
    </body>
    <script>{% include 'match_template.js' %}</script>
    <script src="{{ url_for('static', filename = 'popup.js')}}"></script>
    <script src="{{ url_for('static', filename = 'match.js')}}"></script>
</html>

<!--
25 April 2023 - Created Template
26 April 2023 - Removed the console.log
4 May 2023 - Added reference to popup js file and overlay css
11 May 2023 - Added buttons at the top to switch between screens.
13 May 2023 - Added borders to the main screen
-->